<h2>Celebrities</h2>
<ul class="celebrities">
  {{#each data}}
  <li><a href="/celebrities/{{id}}">{{name}}</a></li>
  <a href="/celebrities/{{id}}/edit">Edit</a>
  <form action="/celebrities/{{id}}/delete" method="POST"><button type="submit">Delete</button></form>
  {{/each}}
</ul>
</div>
<a href="/celebrities/new">Add new</a>
<a href="/celebrities">Back...</a>
