<h1>{{title}}</h1>
<div class="celebrities">
  <table class="celebrities-table">
    <tr>
      <th>Name</th>
      <th>Occupation</th>
      <th>Catchphrase</th>
    </tr>
    {{#each data}}
    <tr>
      <td>{{name}}</td>
      <td>{{occupation}}</td>
      <td>{{catchPhrase}}</td>
    </tr>
    {{/each}}
  </table>
</div>
